*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background: url(https://thumbs.dreamstime.com/b/vector-pet-pattern-seamless-background-illustration-114149143.jpg);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
   

    
}

#container{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid rgb(209, 206, 209);
    

    
}

.logo{
    margin-left: 40px;
    border: 2px solid white;
    padding: 15px;
    text-transform: uppercase;
    border-radius: 0px 20px;
    background-color: #000000;
    transition: 1s all;
}

.texto{
    width:100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding:20px ;
    text-align: center;
    box-shadow: 2px 2px 2px black;
   
}

.logo a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: 1s all;
}

.navegacao{
    width: 400px;
    margin-right: 40px;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid white;
    padding: 15px;
    border-radius: 0px 20px;
    background-color: #000000;
   

}

.navegacao a{
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    
}

.navegacao a:hover{
    color: blueviolet;
    transition: 1s all;
}

.logo a:hover{
    color: blueviolet;
    
    
}

.logo:hover{
    transform: scale(1.2);
    
}

.home:hover{
    transform: scale(1.2);
}

.sobre:hover{
    transform: scale(1.2);
}


.contato:hover{
    transform: scale(1.2);
}


.conteudo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

}

.containerFotos img {
    width: 20%;
    height: auto;
    border: 3px solid #000000;;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 10px;
    transition: 1s all;

}

.containerFotos{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}

.containerFotos img:hover{
    transform: scale(1.2);
}

 
.icones img {
    width: 35px;
    height: 35px;

}

.rodape{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top:1px solid rgb(209, 206, 209);
    border-radius: 2px;
    box-shadow: 1px 1px 3px black;
    font-size: 14px;
    margin-top: 15px;
}

.icones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

@media (max-width: 700px) {

    #container{
        height: 210px;
        flex-direction: column;
        justify-content: center;
        
        
    }
    .logo{
      display: none;
         
    }

    .navegacao{
        flex-direction: column;
        align-items: center;
        width: 200px;
        margin-right: 0;
        border: none;
        box-shadow: none;
          
    }
    
    .containerFotos{
       width: 100%;
       flex-direction: column;
       margin: auto;
      
        
    }

    .containerFotos img {
        width: 60%;
        
       
    }

}
